@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.body {
    display: flex;
    flex-direction: column
}

#container {
    display: flex;
}

#services--header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.services--item {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.details {
    display: flex;
    justify-content: space-evenly;
}

.detail--column {
    flex-basis: 24%;
    margin: 0 2rem;
    padding: 1rem 1rem;
    border: 1px dotted goldenrod;
}

.assignments {
    padding: 1rem 5rem;
}

.locations {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}

.locations--card {
    padding: 20px;
    background-color: rgb(255, 248, 245);
    width: 200px;

}

.guests {
    min-width: 25%;
    padding: 20px;

}

.guests--card {
    padding: 20px;
    background-color: rgb(245, 252, 255);

}

.banner {
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex-direction: row;
}
.banner--logo {
    width: 65px;
    display: inline;
    padding-left: 20px;
    padding-top: 10px;
}
.banner--title {
    display: inline-block;
    padding-left: 20px;
    font-size: 2em;
}

.footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
    flex-shrink: 0;
    padding: 20px;
}
